<% layout('layouts/boilerplate') %>

<div>
  <h4><%= err.message %></h4>
  <!-- Show the error stack only in developer-mode, not in production-mode -->
  <% if (process.env.NODE_ENV !== 'production') { %>
  <p><%= err.stack %></p>
  <% } %>
</div>
