<% layout('layouts/boilerplate') %>
<div class="form_container">
  <h1>New Project</h1>
  <div>
    <form action="/newProject" method="POST">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required />
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          name="description"
          required
        ></textarea>
      </div>
      <button type="submit">Add Project</button>
    </form>
    <a href="/">All Projects</a>
  </div>
</div>
